window {
    opacity: 0.9;
    border: 0px;
    border-radius: 10px;
    font-family: monospace;
    font-size: 20px;
}

#input {
    border-radius: 3px;
    border: 0px;
    padding: 10px;
    margin: 0px;
    color: #9D619D;
    background-color: #1E1D2F;
}

#inner-box {
    margin: 0px;
    color: #616161;
    background-color: #1E1D2F;
}

#outer-box {
    margin: 0px;
    background-color: #1E1D2F;
    border-radius: 10px;
}

#entry {
    padding: 0px;
    margin: 0px;
    background-color: #1E1D2F;
}

#entry:selected {
    border-radius:3px 3px 3px 3px;
    background-color: #9E619E;
}
#scroll {
    margin: 5px;
    background-color: #1E1D2F;
}

#text {
    margin: 0px;
    padding: 2px 2px 2px 10px;
}

#text:selected {
    color: #619E9E;
}
